

.card {
    margin-left: 2%;
	margin-top: 2%;
    font-size: 20px;
    border: 1px solid black;
}


.card-body
{
    align-content: center;
    width: 50%;
    border: black;
}


  
  














